<div class="container-fluid">
  <app-page-title title="Yeni Cihaz" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card-box">
        <h4 class="header-title">Yeni Cihaz Türü Ekle</h4>
        <p class="sub-header">
          Yeni Cihaz Türü eklemek için lütfen aşağıdaki bilgileri eksiksiz doldurun.
        </p>
        <form>
          <div class="form-group">
            <label>Tür Adı<span class="text-danger">*</span></label>
            <input type="text" name="nick"  placeholder="Cihaz adı giriniz"
              class="form-control" [ngClass]="{'is-invalid': submitControl && basic.deviceName.errors}">
            <div *ngIf="submitControl && basic.deviceName.errors" class="invalid-feedback">
              <span *ngIf="basic.deviceName.errors.required">Lütfen cihaz adını giriniz.</span>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox checkbox-blue p-1">
                <input id="checkbox6a" name="checkboxBlue"  [(ngModel)]="checkboxValue" [ngModelOptions]="{standalone: true}"
                 type="checkbox">
                <label for="checkbox6a">
                        <span *ngIf="checkboxValue" title="Kampüs kullanımdadır.">Tür Aktif</span>
                        <span *ngIf="!checkboxValue" title="Kampüs kullanımda değildir.">Tür Pasif</span>
                </label>
            </div>
        </div>
          <div class="form-group text-center" *ngIf="success">
            <ngb-alert [dismissible]="false" (close)="success=false"
              class="alert alert-success bg-success text-black border-0" type="success" data-auto-dismiss>
              Yeni <strong>Tür</strong>
              başarılı bir şekilde eklendi.</ngb-alert>
          </div>
          <div class="form-group text-right mb-0">
            <button class="btn btn-info waves-effect waves-light mr-1" type="submit">
              Kaydet
            </button>
            <button type="reset" class="btn btn-secondary waves-effect waves-light">
              Temizle
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>