<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu" #sideMenu>

            <li class="menu-title">Navigasyon</li>

            <li>
                <a href="javascript: void(0);" class="waves-effect" aria-expanded="false">
                    <i class="fe-plus-square"></i>
                    <span class="menu-arrow"></span>
                    <span> Kayıt Ekle </span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/addCampus/add-campus" routerLinkActive="active" class="side-nav-link-ref">Yeni Kampüs</a>
                    </li>
                    <li>
                        <a routerLink="/addBuild/add-build" routerLinkActive="active" class="side-nav-link-ref">Yeni Bina</a>
                    </li>
                    <li>
                        <a routerLink="/add-block/addblock" routerLinkActive="active" class="side-nav-link-ref">Yeni Block</a>
                    </li>
                </ul>
                
            </li>

            
        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
</ng-template>


<div class="left-side-menu">
    <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

    <div class="slimscroll-menu" *ngIf="isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
</div>
<!-- Left Sidebar End -->