<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu" #sideMenu>

            <li class="menu-title">Navigasyon</li>

            <li>
                <a href="javascript: void(0);" class="waves-effect" aria-expanded="false">
                    <i class="fe-plus-square"></i>
                    <span class="menu-arrow"></span>
                    <span> Kayıt Ekle </span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/campus/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Kampüs</a>
                    </li>
                    <li>
                        <a routerLink="/build/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Bina</a>
                    </li>
                    <li>
                        <a routerLink="/block/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Block</a>
                    </li>
                    <li>
                        <a routerLink="/user/add" routerLinkActive="active" class="side-nav-link-ref">Yeni User</a>
                    </li>
                    <li>
                        <a routerLink="/site/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Site</a>
                    </li>
                    <li>
                        <a routerLink="/subunit/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Alt Birim</a>
                    </li>
                    <li>
                        <a routerLink="/mainunit/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Ana Birim</a>
                    </li>
                    <li>
                        <a routerLink="/floor/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Kat</a>
                    </li>
                    <li>
                        <a routerLink="/device/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Cihaz</a>
                    </li>
                    <li>
                        <a routerLink="/devicetype/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Cihaz Tipi</a>
                    </li>
                    <li>
                        <a routerLink="/department/add" routerLinkActive="active" class="side-nav-link-ref">Yeni Departman</a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="javascript: void(0);" class="waves-effect" aria-expanded="false">
                    <i class="fe-align-left"></i>
                    <span class="menu-arrow"></span>
                    <span> Listele </span>
                </a>
                <ul class="nav-second-level collapse" aria-expanded="false">
                    <li>
                        <a routerLink="/campus/list" routerLinkActive="active" class="side-nav-link-ref">Kampüs</a>
                    </li>
                    <li>
                        <a routerLink="/user/list" routerLinkActive="active" class="side-nav-link-ref">User</a>
                    </li>
                    <li>
                        <a routerLink="/site/list" routerLinkActive="active" class="side-nav-link-ref">Site</a>
                    </li>
                    <li>
                        <a routerLink="/subunit/list" routerLinkActive="active" class="side-nav-link-ref"> Alt Birim</a>
                    </li>
                    <li>
                        <a routerLink="/mainunit/list" routerLinkActive="active" class="side-nav-link-ref">Ana Birim</a>
                    </li>
                    <li>
                        <a routerLink="/floor/list" routerLinkActive="active" class="side-nav-link-ref">Kat</a>
                    </li>
                    <li>
                        <a routerLink="/device/list" routerLinkActive="active" class="side-nav-link-ref">Cihaz</a>
                    </li>
                    <li>
                        <a routerLink="/devicetype/list" routerLinkActive="active" class="side-nav-link-ref">Cihaz Tipi</a>
                    </li>
                    <li>
                        <a routerLink="/department/list" routerLinkActive="active" class="side-nav-link-ref">Departman</a>
                    </li>
                </ul>

            </li>


        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
</ng-template>


<div class="left-side-menu">
    <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

    <div class="slimscroll-menu" *ngIf="isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
</div>
<!-- Left Sidebar End -->