<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu" #sideMenu>

            <li class="menu-title">Navigasyon</li>
            <li>
                <a routerLink="/campus/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-hospital-building"></i>
                    <span> Kampüs </span>
                </a>
            </li>
            <li>
                <a routerLink="/build/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-home-modern"></i>
                    <span> Bina </span>
                </a>
            </li>
            <li>
                <a routerLink="/user/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class=" mdi mdi-account-multiple"></i>
                    <span> Kullanıcı </span>
                </a>
            </li>
            <li>
                <a routerLink="/site/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-home-city"></i>
                    <span> Site </span>
                </a>
            </li>
            <li>
                <a routerLink="/block/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-city"></i>
                    <span> Blok </span>
                </a>
            </li>
            <li>
                <a routerLink="/subunit/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-briefcase-download"></i>
                    <span> Alt Birim </span>
                </a>
            </li>
            <li>
                <a routerLink="/mainunit/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-briefcase"></i>
                    <span> Ana Birim </span>
                </a>
            </li>
            <li>
                <a routerLink="/floor/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-floor-plan"></i>
                    <span> Kat </span>
                </a>
            </li>
            <li>
                <a routerLink="/device/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-access-point"></i>
                    <span> Cihaz </span>
                </a>
            </li>
            <li>
                <a routerLink="/devicetype/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-access-point"></i>
                    <span> Cihaz Tipi </span>
                </a>
            </li>
            <li>
                <a routerLink="/department/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-table-large"></i>
                    <span> Departman </span>
                </a>
            </li>
            <li>
                <a routerLink="/roomType/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-alpha-r-box-outline"></i>
                    <span> Oda Türü </span>
                </a>
            </li>
            <li>
                <a routerLink="/room/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-alpha-r-circle"></i>
                    <span> Oda </span>
                </a>
            </li>
            <li>
                <a routerLink="/usercontacttype/list" class="waves-effect" routerLinkActive="active"
                    aria-expanded="false">
                    <i class="mdi mdi-contacts"></i>
                    <span> İletişim Türü </span>
                </a>
            </li>
            <li>
                <a routerLink="/userrole/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class=" mdi mdi-account-multiple-outline"></i>
                    <span> Kullanıcı Rolleri </span>
                </a>
            </li>
            <li>
                <a routerLink="/usertitle/list" class="waves-effect" routerLinkActive="active" aria-expanded="false">
                    <i class="mdi mdi-subtitles"></i>
                    <span> Kullanıcı Ünvanları </span>
                </a>
            </li>



        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
</ng-template>


<div class="left-side-menu">
    <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

    <div class="slimscroll-menu" *ngIf="isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
</div>
<!-- Left Sidebar End -->