<div class="container-fluid">
  <app-page-title title="Departman Düzenle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card-box">
        <h4 class="header-title">Departman Düzenle</h4>
        <p class="sub-header">
          Departman düzenlemek için lütfen aşağıdaki bilgileri eksiksiz doldurun.
        </p>
        <form (ngSubmit)="submit()" [formGroup]="formValidation">
          <div _ngcontent-pnh-c6="" class="form-group mb-3">
            <label>Lütfen Alt Birim Seçin</label>
            <select _ngcontent-pnh-c6="" class="form-control" id="example-select" (ngModelChange)="setSubUnitId($event)"
              [ngModelOptions]="{standalone: true}" [ngModel]="subUnitId">
              <option _ngcontent-pnh-c6="" [ngValue]="0">Alt Birim Seçiniz</option>
              <option _ngcontent-pnh-c6="" *ngFor="let subUnit of subUnits" [selected]="subUnit.id==subUnitId"
                [ngValue]="subUnit.id">
                {{ subUnit.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Departman Adı<span class="text-danger">*</span></label>
            <input type="text" name="nick" formControlName="departmentName" [value]="department?.name" placeholder="Departman adı giriniz"
              class="form-control" [ngClass]="{'is-invalid': submitControl && basic.departmentName.errors}">
            <div *ngIf="submitControl && basic.departmentName.errors" class="invalid-feedback">
              <span *ngIf="basic.departmentName.errors.required">Lütfen Departman adını giriniz.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Açıklama <span class="text-danger">*</span></label>
            <input type="text" name="nick" formControlName="departmentProperties" [value]="department?.properties" placeholder="Açıklama giriniz"
              class="form-control" [ngClass]="{'is-invalid': submitControl && basic.departmentProperties.errors}">
            <div *ngIf="submitControl && basic.departmentProperties.errors" class="invalid-feedback">
              <span *ngIf="basic.departmentProperties.errors.required">Lütfen açıklama giriniz.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Diğer <span class="text-danger">*</span></label>
            <input type="text" name="nick" formControlName="departmentOthers" [value]="department?.other" placeholder="Diğer giriniz"
              class="form-control" [ngClass]="{'is-invalid': submitControl && basic.departmentOthers.errors}">
            <div *ngIf="submitControl && basic.departmentOthers.errors" class="invalid-feedback">
              <span *ngIf="basic.departmentOthers.errors.required">Lütfen diğer özellikleri giriniz.</span>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox checkbox-blue p-1">
              <input id="checkbox6a" name="checkboxBlue" [(ngModel)]="checkboxValue"
                [ngModelOptions]="{standalone: true}" type="checkbox">
              <label for="checkbox6a">
                <span *ngIf="checkboxValue" title="Departman kullanımdadır.">Departman Aktif</span>
                <span *ngIf="!checkboxValue" title="Departman kullanımda değildir.">Departman Pasif</span>
              </label>
            </div>
          </div>
          <div class="form-group text-center" *ngIf="success">
            <ngb-alert [dismissible]="false" (close)="success=false"
              class="alert alert-success bg-success text-black border-0" type="success" data-auto-dismiss>
              Yeni <strong>Departman</strong>
              başarılı bir şekilde eklendi.</ngb-alert>
          </div>
          <div class="form-group text-right mb-0">
            <button class="btn btn-info waves-effect waves-light mr-1" type="submit">
              Kaydet
            </button>
            <button type="reset" class="btn btn-secondary waves-effect waves-light">
              Temizle
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>