<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body p-4">
            <!-- Logo-->
            <div class="text-center w-75 m-auto">
              <a routerLink="/account/login">
                <img src="assets/images/logo-dark.png" alt="" height="22" />
              </a>
              <p class="text-muted mb-4 mt-3">Don't have an account? Create your own account, it takes less than a minute</p>
            </div>

            <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
              novalidate>

              <app-ui-preloader [display]="loading"></app-ui-preloader>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

              <div class="form-group mb-3">
                <label for="name">Your name</label>

                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="name" placeholder="Enter your name" />

                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="email">Email</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="password">Password</label>

                <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password" />

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>

              <div class="form-group mb-0 text-center">
                <button class="btn btn-success btn-block" type="submit">Sign Up</button>
              </div>
            </form>
          </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-white-50">Already have account? <a routerLink="/account/login" class="text-white ml-1"><b>Log
                  In</b></a></p>
          </div> <!-- end col-->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
  2015 - 2019 &copy; UBold theme by <a href="" class="text-white-50">Coderthemes</a> 
</footer>