<div class="container-fluid">
  <app-page-title title="Yeni Oda Türü" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
      <div class="col-12">
          <div class="card-box">
              <h4 class="header-title">Yeni Oda Türü Ekle</h4>
              <p class="sub-header">
                  Yeni oda türü eklemek için lütfen aşağıdaki bilgileri eksiksiz doldurun.
              </p>
              <form >
                  <div class="form-group">
                      <label>Oda Türünün Adı<span class="text-danger">*</span></label>
                      <input type="text" name="nick"
                      placeholder="Oda Türünün Adını Girin" class="form-control" [ngClass]="{'is-invalid': submitControl && basic.campusName.errors}">
                      <div *ngIf="submitControl && basic.campusName.errors" class="invalid-feedback">
                          <span *ngIf="basic.campusName.errors.required">Lütfen oda türünün adını giriniz.</span>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="checkbox checkbox-blue p-1">
                          <input id="checkbox6a" name="checkboxBlue" 
                           type="checkbox">
                          <label for="checkbox6a">
                                  <span *ngIf="checkboxValue" title="Oda Türü kullanımdadır.">Oda Tür Aktif</span>
                                  <span *ngIf="!checkboxValue" title="Oda Türü kullanımda değildir.">Oda Tür Pasif</span>
                          </label>
                      </div>
                  </div>
                  <div class="form-group text-center" *ngIf="success">
                          <ngb-alert [dismissible]="false" (close)="success=false" class="alert alert-success bg-success text-black border-0" 
                          type="success" data-auto-dismiss>
                              Yeni <strong>Oda Türü</strong>
                              başarılı bir şekilde eklendi.</ngb-alert>
                  </div>
                  <div class="form-group text-right mb-0">
                      <button class="btn btn-info waves-effect waves-light mr-1" type="submit">
                          Kaydet
                      </button>
                      <button type="reset" class="btn btn-secondary waves-effect waves-light">
                         Temizle
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  