<div class="container-fluid">
  <app-page-title title="Yeni Alt Birim" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card-box">
        <h4 class="header-title">Yeni Alt Birim</h4>
        <p class="sub-header">
          Yeni Alt Birim eklemek için lütfen aşağıdaki bilgileri eksiksiz doldurun.
        </p>
        <form (ngSubmit)="submit()" [formGroup]="formValidation">
          <div _ngcontent-pnh-c6="" class="form-group mb-3">
            <label>Lütfen Ana Birim Seçin</label>
            <select _ngcontent-pnh-c6="" class="form-control" id="example-select" (ngModelChange)="setMainUnitId($event)"
              [ngModelOptions]="{standalone: true}" [ngModel]="mainUnitId">
              <option _ngcontent-pnh-c6="" selected="selected" value="0">Ana Birim Seçiniz</option>
              <option _ngcontent-pnh-c6="" *ngFor="let mainUnit of mainUnits" [ngValue]="mainUnit.id">
                {{ mainUnit.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Alt Birim Adı<span class="text-danger">*</span></label>
            <input type="text" name="nick" formControlName="mainUnitName" placeholder="Alt birim adı giriniz" class="form-control"
              [ngClass]="{'is-invalid': submitControl && basic.mainUnitName.errors}">
            <div *ngIf="submitControl && basic.mainUnitName.errors" class="invalid-feedback">
              <span *ngIf="basic.mainUnitName.errors.required">Lütfen Alt Birim adını giriniz.</span>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox checkbox-blue p-1">
              <input id="checkbox6a" name="checkboxBlue" [(ngModel)]="checkboxValue"
                [ngModelOptions]="{standalone: true}" type="checkbox">
              <label for="checkbox6a">
                <span *ngIf="checkboxValue" title="Alt birim kullanımdadır.">Alt Birim Aktif</span>
                <span *ngIf="!checkboxValue" title="Alt birim kullanımda değildir.">Alt Birim Pasif</span>
              </label>
            </div>
          </div>
          <div class="form-group text-center" *ngIf="success">
            <ngb-alert [dismissible]="false" (close)="success=false"
              class="alert alert-success bg-success text-black border-0" type="success" data-auto-dismiss>
              Yeni <strong>Alt Birim</strong>
              başarılı bir şekilde eklendi.</ngb-alert>
          </div>
          <div class="form-group text-right mb-0">
            <button class="btn btn-info waves-effect waves-light mr-1" type="submit">
              Kaydet
            </button>
            <button type="reset" class="btn btn-secondary waves-effect waves-light">
              Temizle
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>